.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkkhaki;
}

.nav {
    background-color: darkkhaki ;
    padding: 15px 20px;
    text-align: center;
}

nav a {
    color: lightpink;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s, font-size 0.3s;
}
nav a:hover {
    color: #fc0;
    font-size: 18px;
}

section {
    padding:20px;
}
h1{
    color: #333;
}
p{
    color: #666;
}