body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.photo-album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.photo-item1 {
    width: auto
    position: relative;
}

.photo-item2 {
    height: auto;
    width: auto;
    position: relative;
}

.photo-item3 {
    height: auto;
    width: auto;
    position: relative;
}
    .photo-item4 {
        width: auto;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
       
    .photo-item5{
        height: auto;
        width: auto;
        position: relative;
    }
    .photo-item6{
        height: auto;
        width: auto;
        position: relative;
    }




h1{
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 300;
    color: khaki;
    text-align: center;
}